body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
.u2 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u2_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u2.mouseOver {
}
.u2_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u2.mouseDown {
}
.u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u1-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:400px;
  height:40px;
}
#u1-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:400px;
  height:40px;
}
#u1-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:40px;
}
#u1-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:400px;
  height:40px;
}
#u1-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:400px;
  height:40px;
}
#u1-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:400px;
  height:40px;
}
#u1-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:400px;
  height:40px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:40px;
  width:400px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  letter-spacing:10px;
  color:#FFFFFF;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  letter-spacing:10px;
  color:#FFFFFF;
  text-align:center;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
.u5 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u5_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u5.mouseOver {
}
.u5_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u5.mouseDown {
}
.u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u4-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:400px;
  height:40px;
}
#u4-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:400px;
  height:40px;
}
#u4-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:40px;
}
#u4-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:400px;
  height:40px;
}
#u4-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:400px;
  height:40px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:416px;
  width:400px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  letter-spacing:10px;
  color:#FFFFFF;
  text-align:center;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:376px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  letter-spacing:10px;
  color:#FFFFFF;
  text-align:center;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
.u8 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u8.mouseOver {
}
.u8_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
.u8.mouseDown {
}
.u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u9 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:5px;
  width:30px;
  height:30px;
  display:flex;
  font-size:10px;
}
.u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u9_img.mouseOver {
}
.u9.mouseOver {
}
.u9_img.mouseDown {
}
.u9.mouseDown {
}
.u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u7-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:400px;
  height:40px;
}
#u7-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:400px;
  height:40px;
}
#u7-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:40px;
}
#u7-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:400px;
  height:40px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:712px;
  width:400px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  letter-spacing:10px;
  color:#FFFFFF;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:672px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  letter-spacing:10px;
  color:#FFFFFF;
  text-align:center;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:180px;
  height:768px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:768px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:768px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:40px;
  width:88px;
  height:88px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:78px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:40px;
  width:56px;
  height:78px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:144px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19 {
  position:absolute;
  left:28px;
  top:529px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:124px;
  height:153px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:51px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:124px;
  height:51px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:124px;
  height:50px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u24 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:156px;
  height:60px;
  display:flex;
  font-size:16px;
}
.u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u24_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u24.mouseOver {
}
.u24_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u24.selected {
}
.u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
}
#u23-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:180px;
  height:60px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:180px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
